.Buscador {
    display: flex;
    flex-direction: row;
  }
  
  .Resultados {
    margin-bottom: 1px;
    margin-top: 1rem;
    border-top: 1px solid rgba(145, 145, 145, 0.5);
  }
  
  .BotonNavegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff700;
    width: 7rem;
    height: 2rem;
    color: rgba(8, 7, 60, 0.848);
    border: 0px;
    margin: 2px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .link {
    color: rgba(53, 53, 53, 0.824);
    font-size: 1rem;
    font-weight: bold;  
  }
  